.addressor_container {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.addressor {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.addressor.placeholder {
	-webkit-text-fill-color: #ccc;
}

.select_body_header_submit {
	float: right;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0px 5px;
	cursor: pointer;
	position: absolute;
	right: 5%;
}

.select_body_header_submit:hover {
	background-color: #ccc;
}

.addressor_body {
	position: absolute;
	border: 1px solid #ccc;
	background-color: #fff;
	width: 100%;
	border-radius: 4px;
	z-index: 1;
	font-size: 14px;
}

.addressor_body_header {
	padding: 5px 5%;
	position: relative;
}

.addressor_body_item_list {
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}

.addressor_body_option {
	font-size: 14px;
	line-height: 32px;
	cursor: pointer;
	padding: 3px 0px;
	position: relative;
}

.addressor_body_item {
	width: 90%;
	display: block;
	margin: 0 auto;
	border-radius: 3px;
	padding: 0px 10px;
}

.addressor_body_option:hover .addressor_body_item {
	background: #eee;
}

.select_body_header_choice, .select_body_header_province, .select_body_header_city {
	cursor: pointer;
}